﻿


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Company Product</h2>
        </div>
        <div class="col-6 text-end" >
            <a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Company
            </a>
        </div>
    </div>
    <br /> <br />

<table id="tblData" class="table table-bordered table-striped" style="width : 100%" >
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
   
</table>

</div>

@section Scripts{
    <script src="~/js/company.js"></script>
}